body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1e1e1e;
}

.navegacion-arriba {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('../assets/Brown-Beige-Watercolor-Bread.png') no-repeat center center;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Fondo degradado */
.navegacion-arriba::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.801), rgba(0,0,0,0.2));
  z-index: 0;
}

/* Elementos hijos por encima del degradado */
.navegacion-arriba > * {
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
}

.inicio {
  background-color: transparent;
  border: 2px solid #6a75d1;
  padding: 8px 15px;
  border-radius: 5px;
 
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

.inicio:hover {
  background-color: #6a75d1;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto {
  font-size: 1.2em;
  line-height: 1.6em;
  max-width: 500px;
  position: relative;
  text-align: left;
   color: rgb(0, 0, 0);
}

.linea {
  width: 120px;
  height: 4px;
  background-color: #6a75d1;
  margin-top: 15px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.navegacion {
  border: 2px solid #6a75d1;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background 0.3s, transform 0.2s;
}

.navegacion:hover {
  background-color: #6a75d1;
  transform: scale(1.05);
}