body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f3;
  color: #292828;
}

/* encabezado */
header {
  background-color: #f0efef;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.nav-links {
  display: flex; /* horizontal */
  gap: 35px;     /* espacio entre enlaces */
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo_encabezado {
  font-size: 1.5em;
  color: #999;
  width: 400px;
}

.logo {
  width: 30%;
  height: 20%;
  justify-content: left;
  align-items: left;
  padding-right: 10px;
}

/* menu de navegación */
nav ul {
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #3c91ce;
}

/* sección de información */
.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  overflow: hidden;
  position: relative;
  background-image: url('../assets/inicio_fondo_pan.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.info::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.445); /* fondo oscuro con opacidad */
  z-index: 1;
  pointer-events: none;
}

.info > * {
  position: relative;
  z-index: 2;
}

.info-texto h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #eceaea;
  padding-top: 50px;
}

.info-texto p {
  color: #fff9f9;
  font-size: 1.1em;
  text-align: center;
  padding: 8px 30px 0px 20px;
  max-width: 700px;
  margin: 0 auto 30px;
}

.info-texto {
  display: flex;
  justify-content: center;
  flex: 1em;
  align-items: center;
  padding: 5rem;
  gap: 4rem;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 600%;
  z-index: 3;
}

/* botón */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #3e3e3e;
  border-radius: 25px;
  text-decoration: none;
  color: #3e3e3e;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #131212;
  color: #fff;
}

/* título menú */
.titulo-menu {
  text-align: center;
  padding: 40px 20px 20px;
  background: #5d5d7a;
}

.titulo-menu h2 {
  font-size: 2em;
  color: #353434;
}

/* cuadros menú */
.cuadros-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 40px;
  background: #5d5d7a;
}

.cuadro {
  background: #e9e8e8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.cuadro img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.cuadro h3 {
  margin: 15px 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.cuadro p {
  font-size: 0.95em;
  color: #666;
}

.cuadro a {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.9em;
  color: #273b4d;
  text-decoration: underline;
}